
BODY {
   
    
    
 
  /* background-image:  url('rm373batch2-08.jpg');*/
   background-position: top ;

   
}
.HEAD1 {

    display: flex;
    
   /* margin: 0 auto;
   /* border: 2PX SOLID rgb(6, 19, 59);*/
    background-color: rgb(5, 5, 14);
    padding: 20px 20px 20px 20px;
 }

.menuR{
    justify-content:flex-end ;
    gap: 20px nnnnnnn3;

    
}

.menuL {
  color: blueviolet;
  flex-grow: 2;
}
a{
   
    color: blanchedalmond;
    text-decoration: none;
  
   


}
a:hover {
    color: rgb(185, 235, 255) ;
    border:  red;
    text-decoration: none;
    background-color: rgb(23, 22, 38);

}
.HEAD2 {
    display: flex;
    color: rgb(22, 6, 6);
}