
BODY {

   
    margin: auto;
    /*width: 100%;
    
 
  /* background-image:  url('rm373batch2-08.jpg');*/
  /* background-position: top ;*/

   
}
.HEAD1 {

    display: flex;

    margin: 0 auto;
   /* border: 2PX SOLID rgb(6, 19, 59);*/
    background-color: rgb(5, 5, 14);
    padding: 20px 20px 20px 20px;
 }

.menuR{
    justify-content:flex-end ;
    gap: 20px ;


    
}

.menuL {
  color: blueviolet;
  flex-grow: 2;
}
a{
   
    color: blanchedalmond;
    text-decoration: none;
  
   


}
a:hover {
    color: rgb(185, 235, 255) ;
    border:  red;
    text-decoration: none;
    background-color: rgb(23, 22, 38);

}
.HEAD2 {
    display: flex;
    color: rgb(22, 6, 6);
    border: 1px solid black;
    
}

.textHEAD2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 5px 20px 20px 20px;
    /**/
    


}

.button3{
    transition-duration: 0.4s ;
}

.button3 {
   
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
    padding: 10px;
    margin-top: 30px ;
    
    
    
}

.button3:hover {

    background-color: white; 
    color: black; 
    border: 1px solid #008CBA;
    padding: 7px;
}
.flexUnder {
    display: flex;
    align-content: center;
    
    justify-content: space-between;
   /* width:min-content;*/
   margin: 50px 200px 50px 200px;
    flex: 1;

    
}


.Albert {
    height:200px ;
    width: 200px ;
}

.marie {
 
    height:200px ;
    width: 200px;
}
.al-Haytham{
    height:200px ;
    width: 200px;
}
.Al-Khwarizmi {
    height:200px ;
    width: 200px;


}
.BODY2 {
    display: block;
    font-style: oblique;
    font-size: large;
    background-color:rgb(228, 228, 228);
    border: 3px solid rgb(228, 228, 228) ;
    padding: 100px 250px 100px 250px ;
   /* margin:  0 50px 50px 50px;*/
    
    
}
.nour{
     font-weight:bold;
     color: black;
     margin:100px 0 0 200px ;


}
.nour:hover {
    color: #008CBA;
    background-color: rgb(228, 228, 228);
}
.body3{
    display: flex;
    flex: 2;
    background-color:rgb(82, 143, 190);
    margin:50px 250px 50px 250px;
    padding: 50px 20px 50px 20px;
    justify-content: space-between;
    color: white;

}
.button4 { 
    padding: 5px;
    background-color:rgb(82, 143, 190) ;
    border:2px solid white;

}
.button4{
    transition-duration: 0.4s ;
}
.button4:hover{
    background-color: whitesmoke;
    padding: 3px;
}
.footer{
    background-color: rgb(255, 240, 152);
    padding: 20px 300px 20px 600px;
    color: white;


}
