BODY {
   /* display: flex;*/
    background-image: url(https://images.unsplash.com/photo-1673858566199-b8f5d78bc247?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDkzfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}
.HEAD1 {

    margin: 0 auto;
    border: 2PX SOLID rgb(5, 6, 9);
    background-color: rgb(7, 7, 8);
    padding: 0 AUTO;
}
.HEAD2 {
    
}